<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sifiso.tnbappsuites">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/notice_logo"
        android:label="@string/app_name"
        android:theme="@style/CustomAppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBGOZtq3kHsw0XOenGYEhmCWLrsEjU6Fsc"
            />

        <activity
            android:name=".MainPagerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/title_activity_registration" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password" />
        <activity
            android:name=".LogIssueActivity"
            android:label="@string/title_activity_log_issue"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".FullViewIssueActivity"
            android:label="@string/title_activity_full_view_issue"></activity>

        <activity
            android:name="com.example.sifiso.tnbappsuites.TNBMapsActivity"
            android:label="@string/title_activity_tnbmaps">

        </activity>
    </application>

</manifest>

